#root {
  margin: 0 auto;
}
.dropdown {
  position: relative;
}
.error-message {
  font-size: 0.7rem;
  margin: 0px;
  padding: 0;
  color: #22c55e;
}
/* button {
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;

  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
button:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  margin-left: 500px;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: rgb(14, 20, 125);
}

.menu > li:hover {
  background-color: rgb(0, 0, 0);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
svg {
  padding: 0;
  margin: 0;
  display: block;
}
.main-layout {
  display: grid;
  grid-template-columns: 1000px 900px 1fr;
  grid-template-rows: auto;
}
.data-summary {
  list-style: none;
  width: 320px;
  height: fit-content;
  border: 1px solid #bc5e5e;
  padding-bottom: 20px;
  padding-right: 40px;
  border-radius: 10px;
}
.summary-parts {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #bc5e5e;
}

.data-form {
  padding-top: 30px;
}
.name-input {
  display: flex;
  align-items: center;
}
input {
  height: 25px;
  margin-right: 10px;
}

.links {
  margin-right: 20px;
}

#head {
  cursor: pointer;
}

#someome {
  pointer-events: none;
}
#Head,
#Chest,
#Neck,
#Waist,
#Hip,
#Arms,
#Hands,
#Wrists,
#Legs,
#Thigh,
#Feet,
#Shoulder {
  pointer-events: all;
}
.highlight {
  filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;

  transition: all 0.3s ease-in-out;
}
.instruction {
  margin-left: 250px;
  grid-area: 1/1;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #bc5e5e;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 600px;
  height: 650px;
}
.instruction:hover {
  border: 1px solid #555555;
}
.instruction-2 {
  margin-left: 300px;
  margin-top: 100px;
  grid-area: 1/1;
  font-size: 1.5rem;
}
.save-button {
  text-align: center;
  margin-left: 10px;
  font-size: 1rem;
  width: 80px;
  background-color: white;
}
.select-body-header {
  padding-top: 20px;
  margin-left: 35px;
}
h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.main-image {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.lag-color {
  color: #bc5e5e;
}
input,
select {
  border: 1px solid #bc5e5e;
  font-size: 1.5rem;
  border-radius: 10px;
}

.list-data {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.summary-parts:hover {
  cursor: pointer;
  color: #79bc5e;
}

select:hover,
input:hover {
  border: 1px solid;
}
.slogan-text {
  text-align: center;
  padding: 100px;
  font-size: 2rem;
}

.end-text {
  display: flex;
  justify-content: center;
}
h4 {
  text-align: center;
}
.end-logo {
  text-align: center;
}
.name-input {
  width: 150px;
}
.name-title {
  margin-right: 10px;
}
.value-input {
  width: 150px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}

.name-container {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  height: 90px;
  margin-top: 0px;
  align-items: center;
}

.cls-1 {
  fill: #d49769;
}

.cls-2 {
  fill: #c29477;
}

.cls-3 {
  fill: #fff;
}
.cls-1:hover {
  cursor: pointer;
}

.cls-2:hover {
  cursor: pointer;
}

.cls-3:hover {
  cursor: pointer;
}

.list-items {
  /* display: flex;
  align-items: baseline; */
/* display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: baseline;
  gap: 0px;
}

.popup {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  animation: fadeout 3s forwards;
}
.change-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(255, 119, 119);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
small {
  margin-left: 20px;
  font-size: 1.2rem;
}

.card-layout {
  grid-area: 1/2;
  width: 950px;
}
.doll-summary {
  display: grid;
  grid-template-columns: 500px 200px;
  width: 700px;
  margin: 0;
  padding: 0;
}
.cartlag-doll {
  margin: 0;
  padding: 0;
}
.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 100%;
}
.new-category-section {
  margin-top: 250px;
  margin-left: 40px;
}
.new-category-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px 160px;
  grid-template-rows: 1fr 1fr 50px;
  align-items: center;
  gap: 0px;
}
.new-category-button {
  width: 80px;
  margin-top: 50px;
  margin-left: 170px;
  font-size: 1rem;
  grid-area: 3/2;
}
.button-text {
  width: 90px;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  height: 30px;
  margin-top: 10px;
}
.button-text-name {
  width: 200px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 30px;
  margin-top: 10px;
}
.value-input-name {
  width: 120px;
}

h5 {
  margin: 0;
  padding: 0;
}
.new-category-name {
  grid-area: 1/1;
  font-size: 1.3rem;
  font-weight: bold;
}
.new-category-value {
  grid-area: 1/2;
  font-size: 1.3rem;
  font-weight: bold;
}
.name-input {
  grid-area: 2/1;
  width: 150px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}
.value-wrapper {
  grid-area: 2/2;
  display: flex;
  align-items: center;
}
.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-value-input {
  width: 150px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}
.new-category-select {
  grid-area: 1/3;
}
.navbar {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-left: 280px;
}
.selected-input {
  margin-right: 20px;
}
h6 {
  margin: 0;
  padding: 0;
  color: #bc5e5e;
}
select {
  font-size: 1rem;
  width: 90px;
}
.new-name {
  font-size: 1rem;
  color: #bc5e5e;
  font-weight: bold;
}
.hello-name {
  margin-right: 20px;
}
.verification-delete {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  color: #bc5e5e;
}

.show-selected {
  max-width: 1px;
}
.selection {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.brand-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #bc5e5e;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 10px;
}

.brand-modal-content {
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.brand-list-modal {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
  font-weight: bold;
}
.option-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.recommend-title {
  font-size: 1rem;
}

.modal-image {
  max-width: 100%;
}
.color-input {
  margin-left: 20px;
  height: 45px;
  width: 45px;
}

.color-input:hover {
  transform: scale(1.2) perspective(1px);
}
.color-input:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.color-input {
  transition: all 0.5s ease;
  transform: scale(1);
}

.delete-symbol {
  margin-left: 20px;
  font-size: 1rem;
  background-color: white;
  padding: 5px;
  height: 30px;
  border: 2px solid #c54a4a;
  border-radius: 10px;
}
.delete-symbol:hover {
  transform: scale(1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  cursor: pointer;
}
.import-json {
  width: 270px;
  font-size: 1rem;
  border: none;
}
.import-profile-container {
  margin-top: 50px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  max-width: 250px;
  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin-bottom: 20px;
}
.import-profile-container:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
.import-profile-text {
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.button-text-delete {
  font-size: 20px;
  height: 30px;
}
.find-brand {
  width: 120px;
  margin-left: 10px;

  text-align: center;
  border: none;
  border-radius: 10px;
  height: 20px;
  font-size: 0.7rem;

  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.find-brand:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
.settings-button {
  margin-right: 650px;
} */

/* QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ */
.button-text-name {
  width: 200px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 30px;
  margin-top: 10px;
}
.button-text-delete {
  font-size: 20px;
  height: 30px;
}
.cartlag-doll-size {
  width: 500px;
}
.logo-text {
  font-size: 1rem;
}
.logo-slogan {
  font-size: 0.8rem;
}
.main-layout {
  display: grid;
  grid-template-columns: 1000px 600px 1fr;
  grid-template-rows: auto;
}
.data-container {
  grid-area: 1/3;
}
.data-summary {
  list-style: none;
  width: 350px;
  height: fit-content;
  border: 1px solid #bc5e5e;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 40px;
  border-radius: 10px;
}
.summary-parts {
  font-size: 1rem;
  margin-right: 5px;
}

.data-form {
  padding-top: 30px;
}
.name-input {
  display: flex;
  align-items: center;
}
input {
  height: 20px;
  margin-right: 10px;
}

.links {
  margin-right: 20px;
}

#head {
  cursor: pointer;
}

#someome {
  pointer-events: none;
}
#Head,
#Chest,
#Neck,
#Waist,
#Hip,
#Arms,
#Hands,
#Wrists,
#Legs,
#Thigh,
#Feet,
#Shoulder {
  pointer-events: all;
}
.highlight {
  filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;

  transition: all 0.3s ease-in-out;
}
.instruction {
  margin-left: 250px;
  grid-area: 1/1;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #bc5e5e;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 40px;
  width: 400px;
  height: 650px;
}
.instruction:hover {
  border: 1px solid #555555;
}
.instruction-2 {
  margin-left: 300px;
  margin-top: 100px;
  grid-area: 1/1;
  font-size: 1.5rem;
}
.save-button {
  margin-left: 10px;
  font-size: 0.8rem;
  padding-left: 3px;
  width: 50px;
  height: 33px;
  background-color: white;
  text-align: center;
}
.select-body-header {
  padding-top: 20px;
  margin-left: 35px;
}
h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.main-image {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.lag-color {
  color: #bc5e5e;
}
input,
select {
  border: 1px solid #bc5e5e;
  font-size: 1rem;
  border-radius: 10px;
}
button {
  border: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;

  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 1px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
button:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.list-data {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.summary-parts:hover {
  cursor: pointer;
  color: #79bc5e;
}

select:hover,
input:hover {
  border: 1px solid;
}
.slogan-text {
  text-align: center;
  padding: 100px;
  font-size: 2rem;
}

.end-text {
  display: flex;
  justify-content: center;
}
h4 {
  text-align: center;
}
.end-logo {
  text-align: center;
}
.name-input {
  width: 150px;
}
.name-title {
  margin-right: 10px;
}
.value-input {
  width: 70px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}

.name-container {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  height: 90px;
  margin-top: 0px;
  align-items: center;
}

.cls-1 {
  fill: #d49769;
}

.cls-2 {
  fill: #c29477;
}

.cls-3 {
  fill: #fff;
}
.cls-1:hover {
  cursor: pointer;
}

.cls-2:hover {
  cursor: pointer;
}

.cls-3:hover {
  cursor: pointer;
}
.edit-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.list-items {
  /* display: flex;
    align-items: baseline; */
  display: grid;
  grid-template-columns: 100px 80px 100px;
  align-items: baseline;
  gap: 0px;
}

.popup {
  position: fixed;
  bottom: 50px;
  left: 30%;
  transform: translateX(100%);
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  animation: fadeout 3s forwards;
}
.change-name-container {
  border: 1px solid rgb(255, 119, 119);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
small {
  margin-left: 20px;
  font-size: 1.2rem;
}

.card-layout {
  grid-area: 1/2;
  width: 950px;
}
.doll-summary {
  display: grid;
  grid-template-columns: 400px 200px;
  width: 700px;
  margin: 0;
  padding: 0;
}
.cartlag-doll {
  margin: 0;
  padding: 0;
}
.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 100%;
  overflow: hidden;
}
.new-category-section {
  margin-top: 200px;
  margin-left: 30px;
}
.new-category-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 1fr 1fr 50px;
  align-items: center;
  gap: 0px;
}
.new-category-button {
  width: 70px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 0.8rem;
  grid-area: 2/2;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}
.new-category-name {
  grid-area: 1/1;
  font-size: 1rem;
  font-weight: bold;
}
.new-category-value {
  grid-area: 1/2;
  font-size: 1rem;
  font-weight: bold;
}
.name-input {
  grid-area: 2/1;
  width: 100px;
  font-size: 0.8rem;
  padding-left: 5px;
  font-weight: bold;
}
/* .value-wrapper {
    display: flex;
    align-items: center;
  } */
.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-value-input {
  grid-area: 2/2;
  width: 100px;
  font-size: 0.8rem;
  padding-left: 5px;
  font-weight: bold;
}
.new-category-select {
  grid-area: 2/1;
  margin-top: 20px;
}
.navbar {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-left: 50px;
}
.selected-input {
  margin-right: 20px;
}
h6 {
  margin: 0;
  padding: 0;
  color: #bc5e5e;
}
select {
  font-size: 1rem;
  width: 90px;
}
.new-name {
  font-size: 1.6rem;
  color: #bc5e5e;
  font-weight: bold;
}
.hello-name {
  margin-right: 20px;
}
.confirm {
  height: 30px;
}
.verification-delete {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  color: #bc5e5e;
  height: 30px;
  text-align: center;
  align-items: center;
}

.show-selected {
  max-width: 1px;
}
.selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.brand-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #bc5e5e;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  transform: translateY(80%);
  transition: transform 0.3s ease-in-out;
  padding-top: 10px;
}

.brand-modal-content {
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.brand-list-modal {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
  font-weight: bold;
}
.option-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: 5px;
}
.recommend-title {
  font-size: 1rem;
}

.modal-image {
  max-width: 100%;
}
.color-input {
  margin-left: 20px;
  height: 45px;
  width: 45px;
}

.color-input:hover {
  transform: scale(1.2) perspective(1px);
}
.color-input:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.color-input {
  transition: all 0.5s ease;
  transform: scale(1);
}

.delete-symbol {
  margin-left: 20px;
  font-size: 1rem;
  background-color: white;
  padding: 3px;
  height: 30px;
  border: 2px solid #c54a4a;
  border-radius: 10px;
}
.delete-symbol:hover {
  transform: scale(1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  cursor: pointer;
}
.import-json {
  width: 270px;
  font-size: 1rem;
  border: none;
}
.import-profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0px;
  border: none;
  border-radius: 10px;
  height: 30px;
  font-size: 1.2rem;
  max-width: 250px;
  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin-bottom: 20px;
}
.import-profile-container:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
.import-profile-text {
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.find-brand {
  width: 120px;
  margin-left: 10px;

  text-align: center;
  border: none;
  border-radius: 10px;
  height: 20px;
  font-size: 0.7rem;

  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.find-brand:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
.settings-button {
  margin-right: 60px;
}

/* ----------------------------------------------------------------------------------------------------- */
@media (max-width: 1980px) {
  .cartlag-doll-size {
    width: 400px;
  }
  .logo-text {
    font-size: 1rem;
  }
  .logo-slogan {
    font-size: 0.8rem;
  }
  .main-layout {
    display: grid;
    grid-template-columns: 430px 300px 1fr;
    grid-template-rows: auto;
  }
  .data-container {
    grid-area: 1/3;
  }
  .data-summary {
    list-style: none;
    width: 310px;
    height: fit-content;
    border: 1px solid #bc5e5e;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 0;
  }
  .summary-parts {
    font-size: 1rem;
    margin-right: 5px;
  }

  .data-form {
    padding-top: 30px;
  }
  .name-input {
    display: flex;
    align-items: center;
  }
  input {
    height: 20px;
    margin-right: 10px;
  }

  .links {
    margin-right: 20px;
  }

  #head {
    cursor: pointer;
  }

  #someome {
    pointer-events: none;
  }
  #Head,
  #Chest,
  #Neck,
  #Waist,
  #Hip,
  #Arms,
  #Hands,
  #Wrists,
  #Legs,
  #Thigh,
  #Feet,
  #Shoulder {
    pointer-events: all;
  }
  .highlight {
    filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;

    transition: all 0.3s ease-in-out;
  }
  .instruction {
    margin-left: 50px;
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #bc5e5e;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 40px;
    width: 300px;
    height: 650px;
  }
  .instruction:hover {
    border: 1px solid #555555;
  }
  .instruction-2 {
    margin-left: 300px;
    margin-top: 100px;
    grid-area: 1/1;
    font-size: 1.5rem;
  }
  .save-button {
    margin-left: 10px;
    font-size: 0.8rem;
    padding-left: 3px;
    width: 50px;
    height: 33px;
    background-color: white;
    text-align: center;
  }
  .select-body-header {
    padding-top: 20px;
    margin-left: 35px;
  }
  h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .main-image {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  .lag-color {
    color: #bc5e5e;
  }
  input,
  select {
    border: 1px solid #bc5e5e;
    font-size: 1rem;
    border-radius: 10px;
  }
  button {
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 1rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  button:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .list-data {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .summary-parts:hover {
    cursor: pointer;
    color: #79bc5e;
  }

  select:hover,
  input:hover {
    border: 1px solid;
  }
  .slogan-text {
    text-align: center;
    padding: 100px;
    font-size: 2rem;
  }

  .end-text {
    display: flex;
    justify-content: center;
  }
  h4 {
    text-align: center;
  }
  .end-logo {
    text-align: center;
  }
  .name-input {
    width: 150px;
  }
  .name-title {
    margin-right: 10px;
  }
  .value-input {
    width: 70px;
    font-size: 1rem;
    padding-left: 5px;
    font-weight: bold;
  }

  .name-container {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    height: 90px;
    margin-top: 0px;
    align-items: center;
  }

  .cls-1 {
    fill: #d49769;
  }

  .cls-2 {
    fill: #c29477;
  }

  .cls-3 {
    fill: #fff;
  }
  .cls-1:hover {
    cursor: pointer;
  }

  .cls-2:hover {
    cursor: pointer;
  }

  .cls-3:hover {
    cursor: pointer;
  }
  .edit-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .list-items {
    /* display: flex;
    align-items: baseline; */
    display: grid;
    grid-template-columns: 100px 80px 100px;
    align-items: baseline;
    gap: 0px;
  }

  .popup {
    position: fixed;
    bottom: 50px;
    left: 30%;
    transform: translateX(100%);
    background: #22c55e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    animation: fadeout 3s forwards;
  }
  .change-name-container {
    border: 1px solid rgb(255, 119, 119);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  small {
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .card-layout {
    grid-area: 1/2;
    width: 950px;
  }
  .doll-summary {
    display: grid;
    grid-template-columns: 200px 200px;
    width: 700px;
    margin: 0;
    padding: 0;
  }
  .cartlag-doll {
    margin: 0;
    padding: 0;
  }
  .download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    overflow: hidden;
  }
  .new-category-section {
    margin-top: 200px;
    margin-left: 30px;
  }
  .new-category-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr 50px;
    align-items: center;
    gap: 0px;
  }
  .new-category-button {
    width: 70px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 0.8rem;
    grid-area: 2/2;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: 0;
  }
  .new-category-name {
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
  }
  .new-category-value {
    grid-area: 1/2;
    font-size: 1rem;
    font-weight: bold;
  }
  .name-input {
    grid-area: 2/1;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  /* .value-wrapper {
    display: flex;
    align-items: center;
  } */
  .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .new-value-input {
    grid-area: 2/2;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  .new-category-select {
    grid-area: 2/1;
    margin-top: 20px;
  }
  .navbar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 50px;
  }
  .selected-input {
    margin-right: 20px;
  }
  h6 {
    margin: 0;
    padding: 0;
    color: #bc5e5e;
  }
  select {
    font-size: 1rem;
    width: 90px;
  }
  .new-name {
    font-size: 1.6rem;
    color: #bc5e5e;
    font-weight: bold;
  }
  .hello-name {
    margin-right: 20px;
  }
  .confirm {
    height: 30px;
  }
  .verification-delete {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: #bc5e5e;
    height: 30px;
    text-align: center;
    align-items: center;
  }

  .show-selected {
    max-width: 1px;
  }
  .selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #bc5e5e;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    transform: translateY(80%);
    transition: transform 0.3s ease-in-out;
    padding-top: 10px;
  }

  .brand-modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-list-modal {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
    font-weight: bold;
  }
  .option-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    padding: 5px;
  }
  .recommend-title {
    font-size: 1rem;
  }

  .modal-image {
    max-width: 100%;
  }
  .color-input {
    margin-left: 20px;
    height: 45px;
    width: 45px;
  }

  .color-input:hover {
    transform: scale(1.2) perspective(1px);
  }
  .color-input:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .color-input {
    transition: all 0.5s ease;
    transform: scale(1);
  }

  .delete-symbol {
    margin-left: 20px;
    font-size: 1rem;
    background-color: white;
    padding: 3px;
    height: 30px;
    border: 2px solid #c54a4a;
    border-radius: 10px;
  }
  .delete-symbol:hover {
    transform: scale(1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    cursor: pointer;
  }
  .import-json {
    width: 270px;
    font-size: 1rem;
    border: none;
  }
  .import-profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 1.2rem;
    max-width: 250px;
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 20px;
  }
  .import-profile-container:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .import-profile-text {
    text-align: center;
    font-weight: bold;
  }
  .find-brand {
    width: 120px;
    margin-left: 10px;

    text-align: center;
    border: none;
    border-radius: 10px;
    height: 20px;
    font-size: 0.7rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  .find-brand:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .settings-button {
    margin-right: 60px;
  }
}
@media (max-width: 1200px) {
  .cartlag-doll-size {
    width: 300px;
  }
  .logo-text {
    font-size: 1rem;
  }
  .logo-slogan {
    font-size: 0.8rem;
  }
  .main-layout {
    display: grid;
    grid-template-columns: 390px 300px 1fr;
    grid-template-rows: auto;
  }
  .data-container {
    grid-area: 1/3;
  }
  .data-summary {
    list-style: none;
    width: 310px;
    height: fit-content;
    border: 1px solid #bc5e5e;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 0;
  }
  .summary-parts {
    font-size: 1rem;
    margin-right: 5px;
  }

  .data-form {
    padding-top: 30px;
  }
  .name-input {
    display: flex;
    align-items: center;
  }
  input {
    height: 20px;
    margin-right: 10px;
  }

  .links {
    margin-right: 20px;
  }

  #head {
    cursor: pointer;
  }

  #someome {
    pointer-events: none;
  }
  #Head,
  #Chest,
  #Neck,
  #Waist,
  #Hip,
  #Arms,
  #Hands,
  #Wrists,
  #Legs,
  #Thigh,
  #Feet,
  #Shoulder {
    pointer-events: all;
  }
  .highlight {
    filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;

    transition: all 0.3s ease-in-out;
  }
  .instruction {
    margin-left: 30px;
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #bc5e5e;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 40px;
    width: 270px;
    height: 650px;
  }
  .instruction:hover {
    border: 1px solid #555555;
  }
  .instruction-2 {
    margin-left: 300px;
    margin-top: 100px;
    grid-area: 1/1;
    font-size: 1.5rem;
  }
  .save-button {
    margin-left: 10px;
    font-size: 0.8rem;
    padding-left: 3px;
    width: 50px;
    height: 33px;
    background-color: white;
    text-align: center;
  }
  .select-body-header {
    padding-top: 20px;
    margin-left: 35px;
  }
  h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .main-image {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  .lag-color {
    color: #bc5e5e;
  }
  input,
  select {
    border: 1px solid #bc5e5e;
    font-size: 1rem;
    border-radius: 10px;
  }
  button {
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 1rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  button:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .list-data {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .summary-parts:hover {
    cursor: pointer;
    color: #79bc5e;
  }

  select:hover,
  input:hover {
    border: 1px solid;
  }
  .slogan-text {
    text-align: center;
    padding: 100px;
    font-size: 2rem;
  }

  .end-text {
    display: flex;
    justify-content: center;
  }
  h4 {
    text-align: center;
  }
  .end-logo {
    text-align: center;
  }
  .name-input {
    width: 150px;
  }
  .name-title {
    margin-right: 10px;
  }
  .value-input {
    width: 70px;
    font-size: 1rem;
    padding-left: 5px;
    font-weight: bold;
  }

  .name-container {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    height: 90px;
    margin-top: 0px;
    align-items: center;
  }

  .cls-1 {
    fill: #d49769;
  }

  .cls-2 {
    fill: #c29477;
  }

  .cls-3 {
    fill: #fff;
  }
  .cls-1:hover {
    cursor: pointer;
  }

  .cls-2:hover {
    cursor: pointer;
  }

  .cls-3:hover {
    cursor: pointer;
  }
  .edit-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .list-items {
    /* display: flex;
    align-items: baseline; */
    display: grid;
    grid-template-columns: 100px 80px 100px;
    align-items: baseline;
    gap: 0px;
  }

  .popup {
    position: fixed;
    bottom: 50px;
    left: 30%;
    transform: translateX(100%);
    background: #22c55e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    animation: fadeout 3s forwards;
  }
  .change-name-container {
    border: 1px solid rgb(255, 119, 119);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  small {
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .card-layout {
    grid-area: 1/2;
    width: 950px;
  }
  .doll-summary {
    display: grid;
    grid-template-columns: 200px 100px;
    width: 700px;
    margin: 0;
    padding: 0;
  }
  .cartlag-doll {
    margin: 0;
    padding: 0;
  }
  .download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    overflow: hidden;
  }
  .new-category-section {
    margin-top: 200px;
    margin-left: 30px;
  }
  .new-category-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr 50px;
    align-items: center;
    gap: 0px;
  }
  .new-category-button {
    width: 70px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 0.8rem;
    grid-area: 2/2;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: 0;
  }
  .new-category-name {
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
  }
  .new-category-value {
    grid-area: 1/2;
    font-size: 1rem;
    font-weight: bold;
  }
  .name-input {
    grid-area: 2/1;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  /* .value-wrapper {
    display: flex;
    align-items: center;
  } */
  .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .new-value-input {
    grid-area: 2/2;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  .new-category-select {
    grid-area: 2/1;
    margin-top: 20px;
  }
  .navbar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 50px;
  }
  .selected-input {
    margin-right: 20px;
  }
  h6 {
    margin: 0;
    padding: 0;
    color: #bc5e5e;
  }
  select {
    font-size: 1rem;
    width: 90px;
  }
  .new-name {
    font-size: 1.6rem;
    color: #bc5e5e;
    font-weight: bold;
  }
  .hello-name {
    margin-right: 20px;
  }
  .confirm {
    height: 30px;
  }
  .verification-delete {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: #bc5e5e;
    height: 30px;
    text-align: center;
    align-items: center;
  }

  .show-selected {
    max-width: 1px;
  }
  .selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #bc5e5e;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    transform: translateY(80%);
    transition: transform 0.3s ease-in-out;
    padding-top: 10px;
  }

  .brand-modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-list-modal {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
    font-weight: bold;
  }
  .option-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    padding: 5px;
  }
  .recommend-title {
    font-size: 1rem;
  }

  .modal-image {
    max-width: 100%;
  }
  .color-input {
    margin-left: 20px;
    height: 45px;
    width: 45px;
  }

  .color-input:hover {
    transform: scale(1.2) perspective(1px);
  }
  .color-input:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .color-input {
    transition: all 0.5s ease;
    transform: scale(1);
  }

  .delete-symbol {
    margin-left: 20px;
    font-size: 1rem;
    background-color: white;
    padding: 3px;
    height: 30px;
    border: 2px solid #c54a4a;
    border-radius: 10px;
  }
  .delete-symbol:hover {
    transform: scale(1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    cursor: pointer;
  }
  .import-json {
    width: 270px;
    font-size: 1rem;
    border: none;
  }
  .import-profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 1.2rem;
    max-width: 250px;
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 20px;
  }
  .import-profile-container:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .import-profile-text {
    text-align: center;
    font-weight: bold;
  }
  .find-brand {
    width: 120px;
    margin-left: 10px;

    text-align: center;
    border: none;
    border-radius: 10px;
    height: 20px;
    font-size: 0.7rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  .find-brand:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .settings-button {
    margin-right: 60px;
  }
}
@media (max-width: 900px) {
  .cartlag-doll-size {
    width: 300px;
  }
  .logo-text {
    font-size: 1rem;
  }
  .logo-slogan {
    font-size: 0.8rem;
  }
  .main-layout {
    display: grid;
    grid-template-columns: 340px 300px 1fr;
    grid-template-rows: auto;
  }
  .data-container {
    grid-area: 1/3;
  }
  .data-summary {
    list-style: none;
    width: 310px;
    height: fit-content;
    border: 1px solid #bc5e5e;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 0;
  }
  .summary-parts {
    font-size: 1rem;
    margin-right: 5px;
  }

  .data-form {
    padding-top: 30px;
  }
  .name-input {
    display: flex;
    align-items: center;
  }
  input {
    height: 20px;
    margin-right: 10px;
  }

  .links {
    margin-right: 20px;
  }

  #head {
    cursor: pointer;
  }

  #someome {
    pointer-events: none;
  }
  #Head,
  #Chest,
  #Neck,
  #Waist,
  #Hip,
  #Arms,
  #Hands,
  #Wrists,
  #Legs,
  #Thigh,
  #Feet,
  #Shoulder {
    pointer-events: all;
  }
  .highlight {
    filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;

    transition: all 0.3s ease-in-out;
  }
  .instruction {
    margin-left: 10px;
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #bc5e5e;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 30px;
    width: 270px;
    height: 650px;
  }
  .instruction:hover {
    border: 1px solid #555555;
  }
  .instruction-2 {
    margin-left: 300px;
    margin-top: 100px;
    grid-area: 1/1;
    font-size: 1.5rem;
  }
  .save-button {
    margin-left: 10px;
    font-size: 0.8rem;
    padding-left: 3px;
    width: 50px;
    height: 33px;
    background-color: white;
    text-align: center;
  }
  .select-body-header {
    padding-top: 20px;
    margin-left: 35px;
  }
  h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .main-image {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  .lag-color {
    color: #bc5e5e;
  }
  input,
  select {
    border: 1px solid #bc5e5e;
    font-size: 1rem;
    border-radius: 10px;
  }
  button {
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 1rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  button:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .list-data {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .summary-parts:hover {
    cursor: pointer;
    color: #79bc5e;
  }

  select:hover,
  input:hover {
    border: 1px solid;
  }
  .slogan-text {
    text-align: center;
    padding: 100px;
    font-size: 2rem;
  }

  .end-text {
    display: flex;
    justify-content: center;
  }
  h4 {
    text-align: center;
  }
  .end-logo {
    text-align: center;
  }
  .name-input {
    width: 150px;
  }
  .name-title {
    margin-right: 10px;
  }
  .value-input {
    width: 70px;
    font-size: 1rem;
    padding-left: 5px;
    font-weight: bold;
  }

  .name-container {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    height: 90px;
    margin-top: 0px;
    align-items: center;
  }

  .cls-1 {
    fill: #d49769;
  }

  .cls-2 {
    fill: #c29477;
  }

  .cls-3 {
    fill: #fff;
  }
  .cls-1:hover {
    cursor: pointer;
  }

  .cls-2:hover {
    cursor: pointer;
  }

  .cls-3:hover {
    cursor: pointer;
  }
  .edit-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .list-items {
    /* display: flex;
    align-items: baseline; */
    display: grid;
    grid-template-columns: 100px 80px 100px;
    align-items: baseline;
    gap: 0px;
  }

  .popup {
    position: fixed;
    bottom: 50px;
    left: 30%;
    transform: translateX(100%);
    background: #22c55e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    animation: fadeout 3s forwards;
  }
  .change-name-container {
    border: 1px solid rgb(255, 119, 119);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  small {
    margin-left: 20px;
    font-size: 1.2rem;
  }

  .card-layout {
    grid-area: 1/2;
    width: 950px;
  }
  .doll-summary {
    display: grid;
    grid-template-columns: 200px 100px;
    width: 700px;
    margin: 0;
    padding: 0;
  }
  .cartlag-doll {
    margin: 0;
    padding: 0;
  }
  .download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    overflow: hidden;
  }
  .new-category-section {
    margin-top: 200px;
    margin-left: 30px;
  }
  .new-category-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr 50px;
    align-items: center;
    gap: 0px;
  }
  .new-category-button {
    width: 70px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 0.8rem;
    grid-area: 2/2;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: 0;
  }
  .new-category-name {
    grid-area: 1/1;
    font-size: 1rem;
    font-weight: bold;
  }
  .new-category-value {
    grid-area: 1/2;
    font-size: 1rem;
    font-weight: bold;
  }
  .name-input {
    grid-area: 2/1;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  /* .value-wrapper {
    display: flex;
    align-items: center;
  } */
  .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .new-value-input {
    grid-area: 2/2;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 5px;
    font-weight: bold;
  }
  .new-category-select {
    grid-area: 2/1;
    margin-top: 20px;
  }
  .navbar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-left: 50px;
  }
  .selected-input {
    margin-right: 20px;
  }
  h6 {
    margin: 0;
    padding: 0;
    color: #bc5e5e;
  }
  select {
    font-size: 1rem;
    width: 90px;
  }
  .new-name {
    font-size: 1.6rem;
    color: #bc5e5e;
    font-weight: bold;
  }
  .hello-name {
    margin-right: 20px;
  }
  .confirm {
    height: 30px;
  }
  .verification-delete {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: #bc5e5e;
    height: 30px;
    text-align: center;
    align-items: center;
  }

  .show-selected {
    max-width: 1px;
  }
  .selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #bc5e5e;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    transform: translateY(80%);
    transition: transform 0.3s ease-in-out;
    padding-top: 10px;
  }

  .brand-modal-content {
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  .brand-list-modal {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
    font-weight: bold;
  }
  .option-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    padding: 5px;
  }
  .recommend-title {
    font-size: 1rem;
  }

  .modal-image {
    max-width: 100%;
  }
  .color-input {
    margin-left: 20px;
    height: 45px;
    width: 45px;
  }

  .color-input:hover {
    transform: scale(1.2) perspective(1px);
  }
  .color-input:active {
    transform: scale(0.97);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  }
  .color-input {
    transition: all 0.5s ease;
    transform: scale(1);
  }

  .delete-symbol {
    margin-left: 20px;
    font-size: 1rem;
    background-color: white;
    padding: 3px;
    height: 30px;
    border: 2px solid #c54a4a;
    border-radius: 10px;
  }
  .delete-symbol:hover {
    transform: scale(1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    cursor: pointer;
  }
  .import-json {
    width: 270px;
    font-size: 1rem;
    border: none;
  }
  .import-profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 1.2rem;
    max-width: 250px;
    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-bottom: 20px;
  }
  .import-profile-container:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .import-profile-text {
    text-align: center;
    font-weight: bold;
  }
  .find-brand {
    width: 120px;
    margin-left: 10px;

    text-align: center;
    border: none;
    border-radius: 10px;
    height: 20px;
    font-size: 0.7rem;

    background: linear-gradient(135deg, #c54a4a, #a71d1d);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgb(148, 131, 131);
    letter-spacing: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  .find-brand:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c73939, #a81111);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .settings-button {
    margin-right: 60px;
  }
}
