#root {
  margin: 0 auto;
}
.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  margin-left: 500px;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: rgb(14, 20, 125);
}

.menu > li:hover {
  background-color: rgb(0, 0, 0);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
svg {
  padding: 0;
  margin: 0;
  display: block;
}
.main-layout {
  display: grid;
  grid-template-columns: 1000px 900px 1fr;
  grid-template-rows: auto;
}
.data-summary {
  list-style: none;
  width: 180px;
  height: fit-content;
  border: 1px solid #bc5e5e;
  padding-bottom: 20px;
}
.summary-parts {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #bc5e5e;
}

.data-form {
  padding-top: 30px;
}
.name-input {
  display: flex;
  align-items: center;
}
input {
  height: 25px;
  margin-right: 10px;
}

.links {
  margin-right: 20px;
}

#head {
  cursor: pointer;
}

#someome {
  pointer-events: none;
}
#Head,
#Chest,
#Neck,
#Waist,
#Hip,
#Arms,
#Hands,
#Wrists,
#Legs,
#Thigh,
#Feet,
#Shoulder {
  pointer-events: all;
}
.highlight {
  filter: drop-shadow(0px 0px 5px rgba(253, 253, 253, 0.589));
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;

  transition: all 0.3s ease-in-out;
}
.instruction {
  margin-left: 250px;
  grid-area: 1/1;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #bc5e5e;
  border-radius: 10px;
  padding-left: 40px;
  width: 550px;
  height: 650px;
}
.instruction:hover {
  border: 1px solid #555555;
}
.instruction-2 {
  margin-left: 300px;
  margin-top: 100px;
  grid-area: 1/1;
  font-size: 1.5rem;
}
.save-button {
  margin-left: 10px;
  font-size: 1rem;
  width: 80px;
}
.select-body-header {
  padding-top: 20px;
  margin-left: 35px;
}
h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.main-image {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.lag-color {
  color: #bc5e5e;
}
input,
select {
  border: 1px solid #bc5e5e;
  font-size: 1.5rem;
  border-radius: 10px;
}
button {
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;

  background: linear-gradient(135deg, #c54a4a, #a71d1d);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(148, 131, 131);
  letter-spacing: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #c73939, #a81111);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}
button:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.list-data {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.summary-parts:hover {
  cursor: pointer;
  color: #79bc5e;
}

select:hover,
input:hover {
  border: 1px solid;
}
.slogan-text {
  text-align: center;
  padding: 100px;
  font-size: 2rem;
}

.end-text {
  display: flex;
  justify-content: center;
}
h4 {
  text-align: center;
}
.end-logo {
  text-align: center;
}
.name-input {
  width: 150px;
}
.name-title {
  margin-right: 10px;
}
.value-input {
  width: 150px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}

.name-container {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  height: 90px;
  margin-top: 0px;
  align-items: center;
}

.cls-1 {
  fill: #d49769;
}

.cls-2 {
  fill: #c29477;
}

.cls-3 {
  fill: #fff;
}
.cls-1:hover {
  cursor: pointer;
}

.cls-2:hover {
  cursor: pointer;
}

.cls-3:hover {
  cursor: pointer;
}
.edit-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-items {
  width: fit-content;
}

.popup {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  animation: fadeout 3s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
small {
  margin-left: 20px;
  font-size: 1.2rem;
}

.card-layout {
  grid-area: 1/2;
  width: 750px;
}
.doll-summary {
  display: grid;
  grid-template-columns: 500px 200px;
  width: 700px;
  margin: 0;
  padding: 0;
}
.cartlag-doll {
  margin: 0;
  padding: 0;
}
.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 100%;
}
.new-category-section {
  margin-top: 250px;
  margin-left: 40px;
}
.new-category-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px 160px;
  grid-template-rows: 1fr 1fr 50px;
  align-items: center;
  gap: 0px;
}
.new-category-button {
  width: 80px;
  margin-top: 50px;
  margin-left: 170px;
  font-size: 1rem;
  grid-area: 3/2;
}

h5 {
  margin: 0;
  padding: 0;
}
.new-category-name {
  grid-area: 1/1;
  font-size: 1.3rem;
  font-weight: bold;
}
.new-category-value {
  grid-area: 1/2;
  font-size: 1.3rem;
  font-weight: bold;
}
.name-input {
  grid-area: 2/1;
  width: 150px;
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}
.value-wrapper {
  grid-area: 2/2;
  display: flex;
  align-items: center;
}
.new-value-input {
  width: 150px;
}
.new-category-select {
  grid-area: 1/3;
}
.navbar {
  display: flex;
  justify-content: start;
  margin-left: 280px;
}
.selected-input {
  margin-right: 20px;
}
h6 {
  margin: 0;
  padding: 0;
  color: #bc5e5e;
}
select {
  font-size: 1rem;
  width: 90px;
}
.new-name {
  font-size: 1.6rem;
}
.hello-name {
  margin-right: 20px;
}
/* button:hover {
  transform: scale(1.2) perspective(1px);
}
button {
  transition: all 0.5s ease;
  transform: scale(1);
} */
.show-selected {
  max-width: 1px;
}
.selection {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.modal-image {
  max-width: 100%;
  height: auto;
}
.color-input {
  margin-left: 20px;
  height: 45px;
  width: 45px;
}

.color-input:hover {
  transform: scale(1.2) perspective(1px);
}
.color-input:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.color-input {
  transition: all 0.5s ease;
  transform: scale(1);
}
.reset-button {
  margin-left: 20px;
}
